@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@200;300;600&display=swap');

body {
  margin: 0;
  font-family: 'Archivo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* default styling */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: 0;
}

:root {
  --body-color: #FAFAFA;
  --primary-color: #0038FF;
  --red-color: #FF0000;
  --yellow-color: #FFC502;
  --green-color: #06B62D;
  --gray-color: #a3a3a36c;
}

:root {
  --white-color: #ffffff;
  --body-dark-color: #161616;
  --dark--card-color: #131313;
}
